.hero-section {
  background: linear-gradient(to bottom, #101010, #1c1c1c);
  color: #f5f5f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  color: #00ffd5;
}

.title {
  font-size: 1.5rem;
  color: #bbb;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #888;
}

.university {
  font-size: 0.95rem;
  color: #aaa;
}
