<div class="container contact-section py-5">
  <div class="contact-card text-center">
    <h1 class="title">Get in Touch</h1>
    <p class="lead">Feel free to reach out via email or social links below.</p>
    <p class="email">Mail: 
      <a href="mailto:ar87090139@gmail.com">ar87090139@gmail.com</a>
    </p>
  </div>

  <div class="list-group social-links mt-4">
    <a href="https://www.linkedin.com/in/aman-raj-566563275/" target="_blank" class="social-item">
      <img src="../../assets/linkedin.png" alt="LinkedIn" class="icon" />
      <span>LinkedIn</span>
    </a>
    <a href="https://github.com/Aman162004" target="_blank" class="social-item">
      <img src="../../assets/GitHub.png" alt="GitHub" class="icon" />
      <span>GitHub</span>
    </a>
    <a href="https://www.instagram.com/aman_raj__06/" target="_blank" class="social-item">
      <img src="../../assets/Instagram.png" alt="Instagram" class="icon" />
      <span>Instagram</span>
    </a>
  </div>
</div>
